@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
}


input[type="radio"] {
    appearance: none;
    border-radius: 100%;
    position: relative;
}

input[type="radio"]:checked::after,
span.timeline-event-checked::after {
    content: "";
    display: block;

    width: 60%;
    height: 60%;

    background-image: url('/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 20%;
    left: 20%;
}


.float-label-input::placeholder {
    color: #0000;
}


.float-label-input:focus+label,
.float-label-input:not(:placeholder-shown)+label {
    top: -16px;
    background: #fff;
}